<div class="row marketing">
  <h3>{{person.name}} - {{person.id}} </h3>

  <h5>Tasks</h5>
  <p ng-repeat="workTask in person.work">
    {{workTask.description}} - {{workTask.time}}minutes
  </p>


</div>
<myfirstdirective> </myfirstdirective>
<form class="form-horizontal" role="form">
<myinputgroup linkid ="1" label="name2" placeholder="placeholder1" ng-model="person.name"> </myinputgroup>
<myinputgroup linkid ="2" label="name" placeholder="placeholder2" ng-model="person.id"> </myinputgroup>
</form>

<input name="dateField" ng-model="date" ui-date>
  <div class="form-horizontal">
        <input type="text" datepicker-popup="dd/MM/yyyy" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
        <button class="btn" ng-click="open()"><i class="icon-calendar"></i></button>
    </div>
