<div class="row marketing">
  <h3>{{person.name}} - {{person.id}} </h3>

  <h5>Tasks</h5>
  <p ng-repeat="workTask in person.work">
    {{workTask.description}} - {{workTask.time}}minutes
  </p>


</div>
<myfirstdirective> </myfirstdirective>
<form class="form-horizontal" role="form">
<myinputgroup linkid ="1" label="name2" placeholder="placeholder1" ng-model="person.name"> </myinputgroup>
<myinputgroup linkid ="2" label="name" placeholder="placeholder2" ng-model="person.id"> </myinputgroup>
</form>


    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" ng-model="dt" is-open="opened" show-button-bar="false" ng-required="true" datepicker-popup="dd.MM.yyyy"  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>

<mydatepicker ng-model="person.date"></mydatepicker>
<mydatepicker ng-model="person.date"></mydatepicker>

<p>{{person.date}}</p>
